name: Lint Source
on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Read go-version
      id: go-version
      run: |
        echo "version=$(sed -n 's/^go\s*\([\d.]*\)/\1/p' go.mod)" >> "$GITHUB_OUTPUT"

    - name: golangci-lint
      uses: reviewdog/action-golangci-lint@v2
      with:
        go_version: '${{ steps.go-version.outputs.version }}'
        fail_on_error: true
        golangci_lint_flags: -v --timeout=3m
